## Recommend musical artists

In [27]:
import pandas as pd
from sklearn.decomposition import NMF
from sklearn.preprocessing import Normalizer, MaxAbsScaler
from sklearn.pipeline import make_pipeline

In [19]:
df = pd.read_csv('../datasets/musical artists/artists.csv')
df.head()

   user_offset  artist_offset  playcount
0            1             79         58
1            1             84         80
2            1             86        317
3            1             89         64
4            1             96        159

In [23]:
df = df.pivot(index='artist_offset', columns='user_offset', values='playcount')
df.head()

user_offset,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
artist_offset,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,128.0,211.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,270.0,NaN,105.0,97.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.fillna(value=0, inplace=True)
df.head()

user_offset,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
artist_offset,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,105.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,128.0,211.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,270.0,0.0,105.0,97.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
artists = df.values
artists.shape

(111, 500)

In [70]:
df = pd.read_csv('../datasets/musical artists/artist_names.csv', header=None)
df.head()

                0
0  Massive Attack
1         Sublime
2    Beastie Boys
3      Neil Young
4   Dead Kennedys

In [71]:
artist_names = df.values
artist_names.shape

(111, 1)

In [72]:
artist_names = artist_names.reshape(-1)
artist_names.shape

(111,)

In [73]:
# Create a MaxAbsScaler
scaler = MaxAbsScaler()

In [74]:
# Create an NMF model
nmf = NMF(n_components=20)

In [75]:
# Create a Normalizer
normalizer = Normalizer()

In [76]:
# Create a pipeline
pipeline = make_pipeline(scaler, nmf, normalizer)

In [77]:
# Apply fit_transform to artists
norm_features = pipeline.fit_transform(artists)
norm_features.shape

(111, 20)

In [78]:
# Create a DataFrame
df = pd.DataFrame(norm_features, index=artist_names)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Massive Attack,0.000000,0.000000,0.0,0.000000,0.005727,0.0,0.0,0.054651,0.0,0.00000,0.00506,0.0,0.001426,0.998040,0.0,0.000000,0.000000,0.000000,0.029488,0.0
Sublime,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.00000,0.00000,0.0,0.000000,0.005519,0.0,0.000000,0.000000,0.000000,0.999985,0.0
Beastie Boys,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.00000,0.00000,1.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0
Neil Young,0.270903,0.000000,0.0,0.058235,0.000000,0.0,0.0,0.000000,0.0,0.00000,0.00000,0.0,0.000000,0.000000,0.0,0.958335,0.066921,0.000000,0.018295,0.0
Dead Kennedys,0.000000,0.013326,0.0,0.586847,0.000000,0.0,0.0,0.000000,0.0,0.74339,0.00000,0.0,0.141157,0.000000,0.0,0.079119,0.000000,0.276802,0.000000,0.0

In [80]:
# Select row of 'Bruce Springsteen'
artist = df.loc['Bruce Springsteen']

In [81]:
# Compute cosine similarities
similarities = df.dot(artist)

In [82]:
# Display those with highest cosine similarity
similarities.nlargest()

Bruce Springsteen    1.000000
Neil Young           0.955931
Van Morrison         0.871886
Leonard Cohen        0.863222
Bob Dylan            0.859139
dtype: float64