In [31]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

## Wikipedia articles Dataset

In [33]:
articles = pd.read_json('../datasets/wikipedia/News-article-wikipedia.json', lines=True)
articles.head()

,_unit_id,article,newdescp
0,691201838,Gaza aid ship to dock in Egypt after Israel pr...,A ship with supplies for Gaza will dock at el...
1,691201839,Mel Gibson,Often acts and directs stories involving an i...
2,691201840,Talent Agency WME drops Mel Gibson,Cast member Mel Gibson (R) and Oksana Grigori...
3,691201841,Suicide bomber killed in Tehran-Fars,"(Adds details) TEHRAN, June 20 (Reuters) - A..."
4,691201842,Iran's 10% ballot boxes to be recounted,Tehran - Iran's Guardian Council is ready to ...

In [47]:
titles = articles['article'].values
documents = articles['newdescp'].values

## tf-idf word-frequency array

In [48]:
# Create a TfidfVectorizer
tfidf = TfidfVectorizer()

In [49]:
# Apply fit_transform to document
# csr = Compressed Sparse Row
csr_documents = tfidf.fit_transform(documents)
csr_documents.shape

(3000, 31726)

In [50]:
# Print result of toarray() method
print(csr_documents.toarray())

[[ 0.          0.03522439  0.         ...,  0.          0.          0.        ]
 [ 0.          0.          0.         ...,  0.          0.          0.        ]
 [ 0.          0.          0.         ...,  0.          0.          0.        ]
 ...,
 [ 0.          0.          0.         ...,  0.          0.          0.        ]
 [ 0.          0.          0.         ...,  0.          0.          0.        ]
 [ 0.          0.          0.         ...,  0.          0.          0.        ]]

In [51]:
# Get the words
words = tfidf.get_feature_names()
len(words)

31726

## Clustering Wikipedia

In [52]:
# Create a TruncatedSVD instance
svd = TruncatedSVD(n_components=50)

In [53]:
svd_documents = svd.fit_transform(csr_documents)

In [54]:
svd_documents.shape

(3000, 50)

In [55]:
# Create a KMeans instance
kmeans = KMeans(n_clusters=6)

In [56]:
# Fit the pipeline to articles
kmeans.fit(svd_documents)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=6, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [57]:
# Calculate the cluster labels
labels = kmeans.predict(svd_documents)

In [58]:
# Create a DataFrame aligning labels and titles
df = pd.DataFrame({'label': labels, 'article': titles})

In [60]:
# Display df sorted by cluster label
df.sort_values('label')

                                                article  label
1499  BP boss hands over oil spill management to Ame...      0
1843  Opposition backers shot in Southern Sudan prot...      0
1849  Malaysia soldiers attack armed Filipino clan i...      0
1850              Galloway defends himself at US Senate      0
813            Nigeria postpones parliamentary election      0
1851  Refugees flee as second city braces in fear of...      0
1853        Bomb was designed to explode on cargo plane      0
1842        Eurosceptic 'earthquake' rocks EU elections      0
1855  Russia's Vladimir Putin 'to respect' Ukraine vote      0
1857  Ireland and the Czech Republic vote in Europea...      0
1858  Iran Elects Ahmadinejad President, Boosting Is...      0
1859  Zimbabwe's Mugabe backs Ahmadinejad on nuclear...      0
805      Pentagon ends ban on women in frontline combat      0
804   Yemen toll rises as U.S. seen pressing Saleh t...      0
803        Yemen unrest: Troops fire on Taiz protesters      0
1856                   Iran hardliner sweeps to victory      0
819            Pakistan says will not act against India      0
1841  French far right in 'earthquake' win as Europe...      0
1840  Colombia's Santos hurt in election first round...      0
1825  Government candidate Santos wins Colombia elec...      0
835                      Somalis 'at war' with Ethiopia      0
1827       Pakistan's Supreme Court hears NRO petitions      0
833                    Turkmenistan's 'iron ruler' dies      0
1828  Turkey protests: second fatality reported as w...      0
831                    Heavy fighting erupts in Somalia      0
830   Jeremy Hunt to hand over emails and texts with...      0
1833                  Beslan siege suspect trial begins      0
828     Citing Prop. 22, Gov. Rejects Gay Marriage Bill      0
827   Kyrgyz Lawmakers Call For Dissolution Of Parli...      0
1837  Malawi court blocks President Banda election a...      0
...                                                 ...    ...
1341  WRAPUP 3-Syria denies Assad's deputy tried to ...      5
1789  Arab foreign ministers offer Syrian opposition...      5
547   Syria: Protests in Deraa, Damascus, Hama and Homs      5
2214  Lebanon fires on Syrian aircraft over airspace...      5
120              Damascus car bomb shatters Syria truce      5
223   More than 1,000 dead in Syria since mid-March,...      5
1359  Syrian opposition accuses Assad's forces of ne...      5
1358      Jordan 'targets vehicles crossing from Syria'      5
2206  Syria: Refugees flee border camps as troops de...      5
2205  Syrian troops amass near Turkish border-witnesses      5
1170  IDF: Warning Shots Deliberately Missed Syrian ...      5
2656  Syria conflict: Aleppo rocket attack 'kills at...      5
1353  U.N. names Algerian diplomat as Syria envoy; r...      5
1798  Syrian rebels lose strategic town in boost for...      5
2200  Sniper fire kills one as clashes flare in Leba...      5
1799     Syrian rebels 'can fight Hezbollah in Lebanon'      5
1800  Syrian town of Qusair falls to Hezbollah in br...      5
850          Blast rocks central Damascus despite truce      5
570                 Syria turmoil: Fresh protests erupt      5
1462  Air strikes kill dozens in Syria's Aleppo: mon...      5
1174  Syria opposition sign initial deal to form new...      5
842   Syria rebels bombed as opposition open to peac...      5
386   Syria violence: New protests after crackdown i...      5
2444  24 people killed during clashes in Syria, righ...      5
582          Syria: Restive towns 'surrounded' by tanks      5
584   Syria is to allow political parties, state age...      5
1176  Rebel attack in Idlib kills 28 Syrian army sol...      5
2836  Syria: EU nations summon Syrian envoys over cr...      5
2128  Barrel bombs 'kill 517 in Aleppo since 15 Dece...      5
93     Syrian tanks attack eastern city of Deir al-Zour      5

[3000 rows x 2 columns]