![](imgs/kodolamaczlogo.png)

# Przetwarzanie Big Data z użyciem Apache Spark

Autor notebooka: Jakub Nowacki.


## Spark SQL - statystyki z użyciem SQL 

W katalogu `data/` znajduje się plik `rollingsales_bronx.json`.

Poniżej analizujemy dane statystyczne domów: liczność, średnie powierzchnie, lata i ceny, grupując po dzielnicy i typie.

In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
import pyspark.sql.functions as func

spark = pyspark.sql.SparkSession.builder \
    .appName('HouseStatsSQL') \
    .getOrCreate()

#sc = pyspark.SparkContext(appName='HouseStatsSQL')
#spark = pyspark.sql.SQLContext(sc)

In [3]:
# Czytanie danych
sales = spark.read.json('data/rollingsales_bronx.json')
# Nie zapomnij zarejestrować tabeli
sales.registerTempTable('sales')
sales.printSchema()
sales.show()

root
 |-- grossArea: long (nullable = true)
 |-- hood: string (nullable = true)
 |-- landArea: long (nullable = true)
 |-- price: long (nullable = true)
 |-- type: string (nullable = true)
 |-- year: long (nullable = true)

+---------+--------------------+--------+------+--------------------+----+
|grossArea|                hood|landArea| price|                type|year|
+---------+--------------------+--------+------+--------------------+----+
|     2048|BATHGATE         ...|    1842|355000|01  ONE FAMILY HO...|1901|
|     1290|BATHGATE         ...|    1103|474819|01  ONE FAMILY HO...|1910|
|     1344|BATHGATE         ...|    1986|210000|01  ONE FAMILY HO...|1899|
|     1431|BATHGATE         ...|    2329|343116|01  ONE FAMILY HO...|1901|
|     4452|BATHGATE         ...|    1855|     0|02  TWO FAMILY HO...|1931|
|     2400|BATHGATE         ...|    2000|316500|02  TWO FAMILY HO...|1993|
|     2394|BATHGATE         ...|    2498|390000|02  TWO FAMILY HO...|1995|
|     1542|BATHGATE         ...|    1542|207000|02  TWO FAMILY HO...|1899|
|     2340|BATHGATE         ...|    1819|     0|02  TWO FAMILY HO...|1998|
|     1296|BATHGATE         ...|    1667|369000|02  TWO FAMILY HO...|1910|
|     5881|BATHGATE         ...|    5000|308000|02  TWO FAMILY HO...|1910|
|     1512|BATHGATE         ...|    2483|     0|02  TWO FAMILY HO...|1901|
|     3382|BATHGATE         ...|    1562|443776|02  TWO FAMILY HO...|2004|
|     2655|BATHGATE         ...|     885|     0|02  TWO FAMILY HO...|1931|
|     3854|BATHGATE         ...|    2022|     0|03  THREE FAMILY ...|1899|
|     3290|BATHGATE         ...|    3525|440000|03  THREE FAMILY ...|1899|
|     2916|BATHGATE         ...|    1216|662115|03  THREE FAMILY ...|2004|
|     2280|BATHGATE         ...|    3742|     0|03  THREE FAMILY ...|1910|
|     2640|BATHGATE         ...|    1505|460000|03  THREE FAMILY ...|1901|
|     2640|BATHGATE         ...|    1505|190000|03  THREE FAMILY ...|1901|
+---------+--------------------+--------+------+--------------------+----+
only showing top 20 rows

In [4]:
query = """
SELECT 
    hood,
    type,
    COUNT(*) as count,
    AVG(landArea) as avgLandArea,
    AVG(year) as avgYear,
    AVG(price) as avgPrice
FROM sales
GROUP BY hood, type
ORDER BY hood, type
"""
a1 = spark.sql(query)
a1.show()

+--------------------+--------------------+-----+------------------+------------------+------------------+
|                hood|                type|count|       avgLandArea|           avgYear|          avgPrice|
+--------------------+--------------------+-----+------------------+------------------+------------------+
|BATHGATE         ...|01  ONE FAMILY HO...|    4|            1815.0|           1902.75|         345733.75|
|BATHGATE         ...|02  TWO FAMILY HO...|   10|            2131.1|            1947.2|          203427.6|
|BATHGATE         ...|03  THREE FAMILY ...|    6|            2252.5|            1919.0| 292019.1666666667|
|BATHGATE         ...|05  TAX CLASS 1 V...|    1|            2099.0|               0.0|           40730.0|
|BATHGATE         ...|07  RENTALS - WAL...|    6|3161.6666666666665|            1924.5| 424286.1666666667|
|BATHGATE         ...|10  COOPS - ELEVA...|    1|               0.0|               0.0|               4.0|
|BATHGATE         ...|14  RENTALS - 4-1...|    3|1798.3333333333333|            1931.0|               0.0|
|BATHGATE         ...|22  STORE BUILDIN...|    3| 8805.666666666666|            1936.0|155384.66666666666|
|BATHGATE         ...|27  FACTORIES    ...|    1|            1578.0|            1997.0|               0.0|
|BATHGATE         ...|29  COMMERCIAL GA...|    7|  9901.57142857143| 1101.857142857143| 605714.2857142857|
|BATHGATE         ...|30  WAREHOUSES   ...|    1|            9180.0|            1931.0|         9733979.0|
|BATHGATE         ...|31  COMMERCIAL VA...|    4|           82420.0|               0.0|          909638.5|
|BATHGATE         ...|41  TAX CLASS 4 -...|    4|            4827.0|           1457.75|          307500.0|
|BAYCHESTER       ...|01  ONE FAMILY HO...|  106| 2707.622641509434|1941.8490566037735|175829.80188679244|
|BAYCHESTER       ...|02  TWO FAMILY HO...|  119|2780.8487394957983|1961.0756302521008|214003.38655462186|
|BAYCHESTER       ...|03  THREE FAMILY ...|   32|        2763.03125|         1978.8125|        244380.875|
|BAYCHESTER       ...|04  TAX CLASS 1 C...|    4|               0.0|            2008.0|          282164.0|
|BAYCHESTER       ...|05  TAX CLASS 1 V...|   10|            3322.1|             402.4|          134508.5|
|BAYCHESTER       ...|06  TAX CLASS 1 -...|    4|           2360.25|            1800.0|            2500.0|
|BAYCHESTER       ...|07  RENTALS - WAL...|    6| 8903.333333333334|1990.3333333333333| 83333.33333333333|
+--------------------+--------------------+-----+------------------+------------------+------------------+
only showing top 20 rows

## Zadania

* Popraw wyniki usuwając błędne dane.
* Zastosuj odpowiednią prezentację dany w zależności od typu.
* Policz średnie dla domów z XX w. tylko dla grup zawierających więcej niż 10 domów.
* ★ Policz średnie tylko dla 10 najbogatszych dzielnic.

In [18]:
# popraw wyniki
query = """
SELECT 
    hood,
    type,
    COUNT(*) as count,
    AVG(landArea) as avgLandArea,
    AVG(year) as avgYear,
    AVG(price) as avgPrice
FROM sales
WHERE YEAR > 1500 AND landArea > 0 AND price > 0
GROUP BY hood, type
ORDER BY hood, type
"""
a1 = spark.sql(query)
a1.show()

+--------------------+--------------------+-----+------------------+------------------+------------------+
|                hood|                type|count|       avgLandArea|           avgYear|          avgPrice|
+--------------------+--------------------+-----+------------------+------------------+------------------+
|BATHGATE         ...|01  ONE FAMILY HO...|    4|            1815.0|           1902.75|         345733.75|
|BATHGATE         ...|02  TWO FAMILY HO...|    6|2378.1666666666665|1951.8333333333333|          339046.0|
|BATHGATE         ...|03  THREE FAMILY ...|    4|           1937.75|           1926.25|         438028.75|
|BATHGATE         ...|07  RENTALS - WAL...|    3|2904.6666666666665|            1918.0| 848572.3333333334|
|BATHGATE         ...|22  STORE BUILDIN...|    1|            5489.0|            1900.0|          466154.0|
|BATHGATE         ...|29  COMMERCIAL GA...|    2|           14556.0|            1944.0|         1647500.0|
|BATHGATE         ...|30  WAREHOUSES   ...|    1|            9180.0|            1931.0|         9733979.0|
|BATHGATE         ...|41  TAX CLASS 4 -...|    2|            5261.5|            1940.5|          535000.0|
|BAYCHESTER       ...|01  ONE FAMILY HO...|   77|2854.4935064935066|1941.8181818181818|242051.41558441558|
|BAYCHESTER       ...|02  TWO FAMILY HO...|   74|2781.4594594594596| 1954.027027027027|344140.58108108107|
|BAYCHESTER       ...|03  THREE FAMILY ...|   17|2522.6470588235293|1975.2941176470588| 460011.0588235294|
|BAYCHESTER       ...|05  TAX CLASS 1 V...|    2|            2976.0|            2012.0|          592542.5|
|BAYCHESTER       ...|06  TAX CLASS 1 -...|    1|            2375.0|            1800.0|           10000.0|
|BAYCHESTER       ...|07  RENTALS - WAL...|    1|           37500.0|            1975.0|          500000.0|
|BAYCHESTER       ...|21  OFFICE BUILDI...|    3| 7596.666666666667|1970.3333333333333| 798247.3333333334|
|BAYCHESTER       ...|22  STORE BUILDIN...|    2|            5152.5|            1940.5|          798500.0|
|BAYCHESTER       ...|29  COMMERCIAL GA...|    7|           11609.0| 1952.857142857143|1099428.5714285714|
|BAYCHESTER       ...|30  WAREHOUSES   ...|    4|          35093.75|           1954.75|         1917500.0|
|BAYCHESTER       ...|41  TAX CLASS 4 -...|    1|           24100.0|            1960.0|         1838937.0|
|BEDFORD PARK/NORW...|01  ONE FAMILY HO...|   11| 2839.090909090909| 1909.909090909091| 541681.8181818182|
+--------------------+--------------------+-----+------------------+------------------+------------------+
only showing top 20 rows

In [19]:
# zastosuj odpowiednią prezentację dany w zależności od typu.
query = """
SELECT 
    hood,
    type,
    COUNT(*) as count,
    AVG(landArea) as avgLandArea,
    CAST(AVG(year) as INT) as avgYear,
    CAST(AVG(price) as DECIMAL(10,2)) as avgPrice
FROM sales
WHERE YEAR > 1500 AND landArea > 0 AND price > 0
GROUP BY hood, type
ORDER BY hood, type
"""
a1 = spark.sql(query)
a1.show()
a1.printSchema()

+--------------------+--------------------+-----+------------------+-------+----------+
|                hood|                type|count|       avgLandArea|avgYear|  avgPrice|
+--------------------+--------------------+-----+------------------+-------+----------+
|BATHGATE         ...|01  ONE FAMILY HO...|    4|            1815.0|   1902| 345733.75|
|BATHGATE         ...|02  TWO FAMILY HO...|    6|2378.1666666666665|   1951| 339046.00|
|BATHGATE         ...|03  THREE FAMILY ...|    4|           1937.75|   1926| 438028.75|
|BATHGATE         ...|07  RENTALS - WAL...|    3|2904.6666666666665|   1918| 848572.33|
|BATHGATE         ...|22  STORE BUILDIN...|    1|            5489.0|   1900| 466154.00|
|BATHGATE         ...|29  COMMERCIAL GA...|    2|           14556.0|   1944|1647500.00|
|BATHGATE         ...|30  WAREHOUSES   ...|    1|            9180.0|   1931|9733979.00|
|BATHGATE         ...|41  TAX CLASS 4 -...|    2|            5261.5|   1940| 535000.00|
|BAYCHESTER       ...|01  ONE FAMILY HO...|   77|2854.4935064935066|   1941| 242051.42|
|BAYCHESTER       ...|02  TWO FAMILY HO...|   74|2781.4594594594596|   1954| 344140.58|
|BAYCHESTER       ...|03  THREE FAMILY ...|   17|2522.6470588235293|   1975| 460011.06|
|BAYCHESTER       ...|05  TAX CLASS 1 V...|    2|            2976.0|   2012| 592542.50|
|BAYCHESTER       ...|06  TAX CLASS 1 -...|    1|            2375.0|   1800|  10000.00|
|BAYCHESTER       ...|07  RENTALS - WAL...|    1|           37500.0|   1975| 500000.00|
|BAYCHESTER       ...|21  OFFICE BUILDI...|    3| 7596.666666666667|   1970| 798247.33|
|BAYCHESTER       ...|22  STORE BUILDIN...|    2|            5152.5|   1940| 798500.00|
|BAYCHESTER       ...|29  COMMERCIAL GA...|    7|           11609.0|   1952|1099428.57|
|BAYCHESTER       ...|30  WAREHOUSES   ...|    4|          35093.75|   1954|1917500.00|
|BAYCHESTER       ...|41  TAX CLASS 4 -...|    1|           24100.0|   1960|1838937.00|
|BEDFORD PARK/NORW...|01  ONE FAMILY HO...|   11| 2839.090909090909|   1909| 541681.82|
+--------------------+--------------------+-----+------------------+-------+----------+
only showing top 20 rows

root
 |-- hood: string (nullable = true)
 |-- type: string (nullable = true)
 |-- count: long (nullable = false)
 |-- avgLandArea: double (nullable = true)
 |-- avgYear: integer (nullable = true)
 |-- avgPrice: decimal(10,2) (nullable = true)

In [23]:
# Policz średnie dla domów z XX w. tylko dla grup zawierających więcej niż 10 domów.
query = """
SELECT 
    hood,
    type,
    COUNT(*) as count,
    AVG(landArea) as avgLandArea,
    CAST(AVG(year) as INT) as avgYear,
    CAST(AVG(price) as DECIMAL(10,2)) as avgPrice
FROM sales
WHERE YEAR > 1500 AND landArea > 0 AND price > 0
GROUP BY hood, type
HAVING count > 10
ORDER BY hood, type
"""
a1 = spark.sql(query)
a1.show()
a1.printSchema()

+--------------------+--------------------+-----+------------------+-------+----------+
|                hood|                type|count|       avgLandArea|avgYear|  avgPrice|
+--------------------+--------------------+-----+------------------+-------+----------+
|BAYCHESTER       ...|01  ONE FAMILY HO...|   77|2854.4935064935066|   1941| 242051.42|
|BAYCHESTER       ...|02  TWO FAMILY HO...|   74|2781.4594594594596|   1954| 344140.58|
|BAYCHESTER       ...|03  THREE FAMILY ...|   17|2522.6470588235293|   1975| 460011.06|
|BEDFORD PARK/NORW...|01  ONE FAMILY HO...|   11| 2839.090909090909|   1909| 541681.82|
|BEDFORD PARK/NORW...|02  TWO FAMILY HO...|   23| 2413.304347826087|   1917| 360086.17|
|BEDFORD PARK/NORW...|07  RENTALS - WAL...|   21| 8995.285714285714|   1922|3907523.81|
|BEDFORD PARK/NORW...|08  RENTALS - ELE...|   13| 10067.76923076923|   1931|3668538.46|
|BELMONT          ...|02  TWO FAMILY HO...|   18|2724.9444444444443|   1915| 296362.00|
|BELMONT          ...|07  RENTALS - WAL...|   11| 4935.454545454545|   1931|1622451.36|
|BRONXDALE        ...|01  ONE FAMILY HO...|   38|2149.8947368421054|   1944| 239734.50|
|BRONXDALE        ...|02  TWO FAMILY HO...|   43|2477.6511627906975|   1941| 317483.88|
|BRONXDALE        ...|03  THREE FAMILY ...|   12|            2717.0|   1962| 391620.50|
|CASTLE HILL/UNION...|01  ONE FAMILY HO...|   13|2494.3076923076924|   1949| 252455.38|
|CASTLE HILL/UNION...|02  TWO FAMILY HO...|   45|2651.3777777777777|   1949| 332409.47|
|CITY ISLAND      ...|01  ONE FAMILY HO...|   24|           4251.25|   1931| 312384.17|
|COUNTRY CLUB     ...|01  ONE FAMILY HO...|   41|2802.2926829268295|   1944| 392679.78|
|COUNTRY CLUB     ...|02  TWO FAMILY HO...|   27| 3474.185185185185|   1946| 422964.26|
|EAST TREMONT     ...|02  TWO FAMILY HO...|   16|           2179.75|   1927| 310200.00|
|EAST TREMONT     ...|03  THREE FAMILY ...|   22|            2168.0|   1972| 333461.23|
|FIELDSTON        ...|01  ONE FAMILY HO...|   13|           18014.0|   1920|1132691.54|
+--------------------+--------------------+-----+------------------+-------+----------+
only showing top 20 rows

root
 |-- hood: string (nullable = true)
 |-- type: string (nullable = true)
 |-- count: long (nullable = false)
 |-- avgLandArea: double (nullable = true)
 |-- avgYear: integer (nullable = true)
 |-- avgPrice: decimal(10,2) (nullable = true)

In [33]:
# ★ Policz średnie tylko dla 10 najbogatszych dzielnic.
query = """
SELECT 
    hood,
    type,
    COUNT(*) as count,
    CAST(AVG(landArea) AS INT) as avgLandArea,
    CAST(AVG(year) as INT) as avgYear,
    CAST(AVG(price) as DECIMAL(10,2)) as avgPrice
FROM sales
WHERE YEAR > 1500 AND landArea > 0 AND price > 0 AND hood in (
    SELECT hood FROM sales GROUP BY hood ORDER BY sum(price) desc LIMIT 10)
GROUP BY hood, type
HAVING count > 10
ORDER BY hood, type
"""
a1 = spark.sql(query)
a1.show()
a1.printSchema()

+--------------------+--------------------+-----+------------------+-------+-----------+
|                hood|                type|count|       avgLandArea|avgYear|   avgPrice|
+--------------------+--------------------+-----+------------------+-------+-----------+
|BEDFORD PARK/NORW...|01  ONE FAMILY HO...|   11| 2839.090909090909|   1909|  541681.82|
|BEDFORD PARK/NORW...|02  TWO FAMILY HO...|   23| 2413.304347826087|   1917|  360086.17|
|BEDFORD PARK/NORW...|07  RENTALS - WAL...|   21| 8995.285714285714|   1922| 3907523.81|
|BEDFORD PARK/NORW...|08  RENTALS - ELE...|   13| 10067.76923076923|   1931| 3668538.46|
|FORDHAM          ...|02  TWO FAMILY HO...|   11|2231.5454545454545|   1918|  288136.36|
|FORDHAM          ...|07  RENTALS - WAL...|   22| 6657.909090909091|   1921| 2315263.64|
|FORDHAM          ...|08  RENTALS - ELE...|   12|10386.083333333334|   1936| 3728073.58|
|HIGHBRIDGE/MORRIS...|02  TWO FAMILY HO...|   24|2407.6666666666665|   1945|  274374.42|
|HIGHBRIDGE/MORRIS...|03  THREE FAMILY ...|   11|3767.6363636363635|   1951|  387788.00|
|HIGHBRIDGE/MORRIS...|07  RENTALS - WAL...|   13| 7021.384615384615|   1919| 1964250.38|
|HIGHBRIDGE/MORRIS...|08  RENTALS - ELE...|   14|           73932.5|   1932|15054755.79|
|KINGSBRIDGE/JEROM...|01  ONE FAMILY HO...|   13|            2895.0|   1927|  321307.69|
|KINGSBRIDGE/JEROM...|02  TWO FAMILY HO...|   18|3192.5555555555557|   1931|  363377.83|
|MELROSE/CONCOURSE...|02  TWO FAMILY HO...|   15|            1962.0|   1937|  261059.87|
|MELROSE/CONCOURSE...|03  THREE FAMILY ...|   16|         2272.0625|   1907|  277009.06|
|MELROSE/CONCOURSE...|07  RENTALS - WAL...|   18| 4512.944444444444|   1924| 1800854.17|
|MORRISANIA/LONGWO...|01  ONE FAMILY HO...|   14|2006.5714285714287|   1944|  278231.21|
|MORRISANIA/LONGWO...|02  TWO FAMILY HO...|   28|1926.2142857142858|   1929|  307457.86|
|MORRISANIA/LONGWO...|03  THREE FAMILY ...|   45| 2139.266666666667|   1952|  326618.58|
|MORRISANIA/LONGWO...|07  RENTALS - WAL...|   31|            4895.0|   1921| 1570115.58|
+--------------------+--------------------+-----+------------------+-------+-----------+
only showing top 20 rows

root
 |-- hood: string (nullable = true)
 |-- type: string (nullable = true)
 |-- count: long (nullable = false)
 |-- avgLandArea: double (nullable = true)
 |-- avgYear: integer (nullable = true)
 |-- avgPrice: decimal(10,2) (nullable = true)

In [34]:
# ★ Policz średnie tylko dla 10 najbogatszych dzielnic.
query = """
SELECT 
    hood,
    type,
    COUNT(*) as count,
    CAST(AVG(landArea) AS INT) as avgLandArea,
    CAST(AVG(year) AS INT) as avgYear,
    CAST(AVG(price) AS DECIMAL(10,2)) as avgPrice
FROM sales
WHERE YEAR > 1500 AND landArea > 0 AND price > 0 AND hood IN (
    SELECT hood FROM sales GROUP BY hood ORDER BY AVG(price) DESC LIMIT 10
)
GROUP BY hood, type
HAVING count > 10
ORDER BY hood, type
"""
a1 = spark.sql(query)
a1.show()
a1.printSchema()

+--------------------+--------------------+-----+-----------+-------+-----------+
|                hood|                type|count|avgLandArea|avgYear|   avgPrice|
+--------------------+--------------------+-----+-----------+-------+-----------+
|BEDFORD PARK/NORW...|01  ONE FAMILY HO...|   11|       2839|   1909|  541681.82|
|BEDFORD PARK/NORW...|02  TWO FAMILY HO...|   23|       2413|   1917|  360086.17|
|BEDFORD PARK/NORW...|07  RENTALS - WAL...|   21|       8995|   1922| 3907523.81|
|BEDFORD PARK/NORW...|08  RENTALS - ELE...|   13|      10067|   1931| 3668538.46|
|FORDHAM          ...|02  TWO FAMILY HO...|   11|       2231|   1918|  288136.36|
|FORDHAM          ...|07  RENTALS - WAL...|   22|       6657|   1921| 2315263.64|
|FORDHAM          ...|08  RENTALS - ELE...|   12|      10386|   1936| 3728073.58|
|HIGHBRIDGE/MORRIS...|02  TWO FAMILY HO...|   24|       2407|   1945|  274374.42|
|HIGHBRIDGE/MORRIS...|03  THREE FAMILY ...|   11|       3767|   1951|  387788.00|
|HIGHBRIDGE/MORRIS...|07  RENTALS - WAL...|   13|       7021|   1919| 1964250.38|
|HIGHBRIDGE/MORRIS...|08  RENTALS - ELE...|   14|      73932|   1932|15054755.79|
|KINGSBRIDGE HTS/U...|02  TWO FAMILY HO...|   12|       2819|   1914|  279750.00|
|KINGSBRIDGE HTS/U...|07  RENTALS - WAL...|   15|       7084|   1919| 2510546.27|
|MELROSE/CONCOURSE...|02  TWO FAMILY HO...|   15|       1962|   1937|  261059.87|
|MELROSE/CONCOURSE...|03  THREE FAMILY ...|   16|       2272|   1907|  277009.06|
|MELROSE/CONCOURSE...|07  RENTALS - WAL...|   18|       4512|   1924| 1800854.17|
|MOTT HAVEN/PORT M...|02  TWO FAMILY HO...|   16|       1921|   1941|  317152.25|
|MOTT HAVEN/PORT M...|30  WAREHOUSES   ...|   12|      50457|   1942|12469147.25|
|MOUNT HOPE/MOUNT ...|07  RENTALS - WAL...|   15|       6528|   1921| 1908570.87|
|MOUNT HOPE/MOUNT ...|08  RENTALS - ELE...|   17|      15337|   1932| 7809504.35|
+--------------------+--------------------+-----+-----------+-------+-----------+
only showing top 20 rows

root
 |-- hood: string (nullable = true)
 |-- type: string (nullable = true)
 |-- count: long (nullable = false)
 |-- avgLandArea: integer (nullable = true)
 |-- avgYear: integer (nullable = true)
 |-- avgPrice: decimal(10,2) (nullable = true)