## Building deep learning models with keras

### Understanding dataset

In [52]:
df = pd.read_csv('../datasets/Current-Population-Survey-1985.csv', index_col=0)
df.head()

   wage  educ race sex hispanic south  married  exper  union  age    sector
1   9.0    10    W   M       NH    NS  Married     27    Not   43     const
2   5.5    12    W   M       NH    NS  Married     20    Not   38     sales
3   3.8    12    W   F       NH    NS   Single      4    Not   22     sales
4  10.5    12    W   F       NH    NS  Married     29    Not   47  clerical
5  15.0    12    W   M       NH    NS  Married     40  Union   58     const

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 534 entries, 1 to 534
Data columns (total 11 columns):
wage        534 non-null float64
educ        534 non-null int64
race        534 non-null object
sex         534 non-null object
hispanic    534 non-null object
south       534 non-null object
married     534 non-null object
exper       534 non-null int64
union       534 non-null object
age         534 non-null int64
sector      534 non-null object
dtypes: float64(1), int64(3), object(7)
memory usage: 50.1+ KB

In [54]:
df.race = df.race.astype('category')
df.sex = df.sex.astype('category')
df.hispanic = df.hispanic.astype('category')
df.south = df.south.astype('category')
df.married = df.married.astype('category')
df.union = df.union.astype('category')
df.sector = df.sector.astype('category')

In [55]:
df.head()

   wage  educ race sex hispanic south  married  exper  union  age    sector
1   9.0    10    W   M       NH    NS  Married     27    Not   43     const
2   5.5    12    W   M       NH    NS  Married     20    Not   38     sales
3   3.8    12    W   F       NH    NS   Single      4    Not   22     sales
4  10.5    12    W   F       NH    NS  Married     29    Not   47  clerical
5  15.0    12    W   M       NH    NS  Married     40  Union   58     const

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 534 entries, 1 to 534
Data columns (total 11 columns):
wage        534 non-null float64
educ        534 non-null int64
race        534 non-null category
sex         534 non-null category
hispanic    534 non-null category
south       534 non-null category
married     534 non-null category
exper       534 non-null int64
union       534 non-null category
age         534 non-null int64
sector      534 non-null category
dtypes: category(7), float64(1), int64(3)
memory usage: 24.7 KB

In [57]:
df.union.cat.categories

Index(['Not', 'Union'], dtype='object')

In [58]:
df.race = df.race.cat.codes
df.sex = df.sex.cat.codes
df.hispanic = df.hispanic.cat.codes
df.south = df.south.cat.codes
df.married = df.married.cat.codes
df.union = df.union.cat.codes
df.sector = df.sector.cat.codes

In [59]:
df.head()

   wage  educ  race  sex  hispanic  south  married  exper  union  age  sector
1   9.0    10     1    1         1      0        0     27      0   43       1
2   5.5    12     1    1         1      0        0     20      0   38       6
3   3.8    12     1    0         1      0        1      4      0   22       6
4  10.5    12     1    0         1      0        0     29      0   47       0
5  15.0    12     1    1         1      0        0     40      1   58       1

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 534 entries, 1 to 534
Data columns (total 11 columns):
wage        534 non-null float64
educ        534 non-null int64
race        534 non-null int8
sex         534 non-null int8
hispanic    534 non-null int8
south       534 non-null int8
married     534 non-null int8
exper       534 non-null int64
union       534 non-null int8
age         534 non-null int64
sector      534 non-null int8
dtypes: float64(1), int64(3), int8(7)
memory usage: 24.5 KB

### Regression model

In [61]:
import keras
from keras.layers import Dense
from keras.models import Sequential

Using TensorFlow backend.

In [63]:
target = df.wage.values
target.shape

(534,)

In [64]:
predictors = df.drop('wage', axis=1).values
predictors.shape

(534, 10)

In [65]:
# Save the number of columns in predictors
n_cols = predictors.shape[1]
n_cols

10

In [66]:
# Set up the model
model = Sequential()
model

In [67]:
# Add the first layer
model.add(Dense(50, activation='relu', input_shape=(n_cols,)))

In [68]:
# Add the second layer
model.add(Dense(32, activation='relu'))

In [69]:
# Add the output layer
model.add(Dense(1))

In [70]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

In [72]:
# Fit the model
model.fit(predictors, target)

Epoch 1/10
534/534 [==============================] - 0s - loss: 42.0601
Epoch 2/10
534/534 [==============================] - 0s - loss: 25.8573
Epoch 3/10
534/534 [==============================] - 0s - loss: 23.2196
Epoch 4/10
534/534 [==============================] - 0s - loss: 22.4771
Epoch 5/10
534/534 [==============================] - 0s - loss: 21.7452
Epoch 6/10
534/534 [==============================] - 0s - loss: 21.5674
Epoch 7/10
534/534 [==============================] - 0s - loss: 21.5340
Epoch 8/10
534/534 [==============================] - 0s - loss: 21.7591
Epoch 9/10
534/534 [==============================] - 0s - loss: 21.1529
Epoch 10/10
534/534 [==============================] - 0s - loss: 21.2515