# Przykład 4
W poniższym przykładzie wyodrębnimy wszystkie kolumny zaczynające się od <tt>Vel</tt>:

In [3]:
import numpy as np
import pandas as pd
data = np.round(np.random.randn(100,7), 2)

In [4]:
df = pd.DataFrame(data, columns=['Time','PosX', 'PosY', 'PosZ', 'VelX', 'VelY', 'VelZ'])

In [6]:
df.head()

   Time  PosX  PosY  PosZ  VelX  VelY  VelZ
0 -0.09  0.12  0.89 -1.59 -1.99 -1.35  1.23
1  0.17  0.73 -0.47  1.44  0.48  0.29  1.29
2 -0.30  1.33 -0.67  0.76  1.23 -0.66 -0.02
3 -1.34 -0.30  0.42  0.04  0.64 -0.10  0.45
4  1.55 -0.31  0.75 -0.20  0.36 -1.40  1.67

In [7]:
vel = df.filter(regex='Vel*')

In [8]:
vel.head()

   VelX  VelY  VelZ
0 -1.99 -1.35  1.23
1  0.48  0.29  1.29
2  1.23 -0.66 -0.02
3  0.64 -0.10  0.45
4  0.36 -1.40  1.67