![](imgs/kodolamaczlogo.png)

# Przetwarzanie Big Data z użyciem Apache Spark

Autor notebooka: Jakub Nowacki.


## Spark SQL - statystyki z użyciem SQL 

W katalogu `data/` znajduje się plik `rollingsales_bronx.json`.

Poniżej analizujemy dane statystyczne domów: liczność, średnie powierzchnie, lata i ceny, grupując po dzielnicy i typie.

In [1]:
import pyspark
import pyspark.sql.functions as func

spark = pyspark.sql.SparkSession.builder \
    .appName('HouseStatsSQL') \
    .getOrCreate()

#sc = pyspark.SparkContext(appName='HouseStatsSQL')
#spark = pyspark.sql.SQLContext(sc)

In [2]:
# Czytanie danych
sales = spark.read.json('data/rollingsales_bronx.json')
# Nie zapomnij zarejestrować tabeli
sales.registerTempTable('sales')
sales.printSchema()
sales.show()

root
 |-- grossArea: long (nullable = true)
 |-- hood: string (nullable = true)
 |-- landArea: long (nullable = true)
 |-- price: long (nullable = true)
 |-- type: string (nullable = true)
 |-- year: long (nullable = true)

+---------+--------------------+--------+------+--------------------+----+
|grossArea|                hood|landArea| price|                type|year|
+---------+--------------------+--------+------+--------------------+----+
|     2048|BATHGATE         ...|    1842|355000|01  ONE FAMILY HO...|1901|
|     1290|BATHGATE         ...|    1103|474819|01  ONE FAMILY HO...|1910|
|     1344|BATHGATE         ...|    1986|210000|01  ONE FAMILY HO...|1899|
|     1431|BATHGATE         ...|    2329|343116|01  ONE FAMILY HO...|1901|
|     4452|BATHGATE         ...|    1855|     0|02  TWO FAMILY HO...|1931|
|     2400|BATHGATE         ...|    2000|316500|02  TWO FAMILY HO...|1993|
|     2394|BATHGATE         ...|    2498|390000|02  TWO FAMILY HO...|1995|
|     1542|BATHGATE         ...|    1542|207000|02  TWO FAMILY HO...|1899|
|     2340|BATHGATE         ...|    1819|     0|02  TWO FAMILY HO...|1998|
|     1296|BATHGATE         ...|    1667|369000|02  TWO FAMILY HO...|1910|
|     5881|BATHGATE         ...|    5000|308000|02  TWO FAMILY HO...|1910|
|     1512|BATHGATE         ...|    2483|     0|02  TWO FAMILY HO...|1901|
|     3382|BATHGATE         ...|    1562|443776|02  TWO FAMILY HO...|2004|
|     2655|BATHGATE         ...|     885|     0|02  TWO FAMILY HO...|1931|
|     3854|BATHGATE         ...|    2022|     0|03  THREE FAMILY ...|1899|
|     3290|BATHGATE         ...|    3525|440000|03  THREE FAMILY ...|1899|
|     2916|BATHGATE         ...|    1216|662115|03  THREE FAMILY ...|2004|
|     2280|BATHGATE         ...|    3742|     0|03  THREE FAMILY ...|1910|
|     2640|BATHGATE         ...|    1505|460000|03  THREE FAMILY ...|1901|
|     2640|BATHGATE         ...|    1505|190000|03  THREE FAMILY ...|1901|
+---------+--------------------+--------+------+--------------------+----+
only showing top 20 rows

In [3]:
query = """
SELECT 
    hood,
    type,
    COUNT(*) as count,
    AVG(landArea) as avgLandArea,
    AVG(year) as avgYear,
    AVG(price) as avgPrice
FROM sales
GROUP BY hood, type
ORDER BY hood, type
"""
a1 = spark.sql(query)
a1.show()

+--------------------+--------------------+-----+------------------+------------------+------------------+
|                hood|                type|count|       avgLandArea|           avgYear|          avgPrice|
+--------------------+--------------------+-----+------------------+------------------+------------------+
|BATHGATE         ...|01  ONE FAMILY HO...|    4|            1815.0|           1902.75|         345733.75|
|BATHGATE         ...|02  TWO FAMILY HO...|   10|            2131.1|            1947.2|          203427.6|
|BATHGATE         ...|03  THREE FAMILY ...|    6|            2252.5|            1919.0| 292019.1666666667|
|BATHGATE         ...|05  TAX CLASS 1 V...|    1|            2099.0|               0.0|           40730.0|
|BATHGATE         ...|07  RENTALS - WAL...|    6|3161.6666666666665|            1924.5| 424286.1666666667|
|BATHGATE         ...|10  COOPS - ELEVA...|    1|               0.0|               0.0|               4.0|
|BATHGATE         ...|14  RENTALS - 4-1...|    3|1798.3333333333333|            1931.0|               0.0|
|BATHGATE         ...|22  STORE BUILDIN...|    3| 8805.666666666666|            1936.0|155384.66666666666|
|BATHGATE         ...|27  FACTORIES    ...|    1|            1578.0|            1997.0|               0.0|
|BATHGATE         ...|29  COMMERCIAL GA...|    7|  9901.57142857143| 1101.857142857143| 605714.2857142857|
|BATHGATE         ...|30  WAREHOUSES   ...|    1|            9180.0|            1931.0|         9733979.0|
|BATHGATE         ...|31  COMMERCIAL VA...|    4|           82420.0|               0.0|          909638.5|
|BATHGATE         ...|41  TAX CLASS 4 -...|    4|            4827.0|           1457.75|          307500.0|
|BAYCHESTER       ...|01  ONE FAMILY HO...|  106| 2707.622641509434|1941.8490566037735|175829.80188679244|
|BAYCHESTER       ...|02  TWO FAMILY HO...|  119|2780.8487394957983|1961.0756302521008|214003.38655462186|
|BAYCHESTER       ...|03  THREE FAMILY ...|   32|        2763.03125|         1978.8125|        244380.875|
|BAYCHESTER       ...|04  TAX CLASS 1 C...|    4|               0.0|            2008.0|          282164.0|
|BAYCHESTER       ...|05  TAX CLASS 1 V...|   10|            3322.1|             402.4|          134508.5|
|BAYCHESTER       ...|06  TAX CLASS 1 -...|    4|           2360.25|            1800.0|            2500.0|
|BAYCHESTER       ...|07  RENTALS - WAL...|    6| 8903.333333333334|1990.3333333333333| 83333.33333333333|
+--------------------+--------------------+-----+------------------+------------------+------------------+
only showing top 20 rows

## Zadania

* Popraw wyniki usuwając błędne dane.
* Zastosuj odpowiednią prezentację dany w zależności od typu.
* Policz średnie dla domów z XX w. tylko dla grup zawierających więcej niż 10 domów.
* ★ Policz średnie tylko dla 10 najbogatszych dzielnic.

In [15]:
query = """
SELECT 
    hood,
    type,
    COUNT(*) as count, -- costam
    CAST(AVG(landArea) AS INT) as avgLandArea,
    CAST(AVG(year) AS INT) as avgYear,
    CAST(AVG(price) AS DECIMAL(10,2)) as avgPrice
FROM sales
WHERE year > 1500 AND landArea > 0 AND price > 0
GROUP BY hood, type
HAVING count > 10
ORDER BY count DESC, hood, type
"""
a1 = spark.sql(query)
a1.show()
a1.printSchema()

+--------------------+--------------------+-----+-----------+-------+---------+
|                hood|                type|count|avgLandArea|avgYear| avgPrice|
+--------------------+--------------------+-----+-----------+-------+---------+
|THROGS NECK      ...|01  ONE FAMILY HO...|   83|       2686|   1945|340273.33|
|BAYCHESTER       ...|01  ONE FAMILY HO...|   77|       2854|   1941|242051.42|
|BAYCHESTER       ...|02  TWO FAMILY HO...|   74|       2781|   1954|344140.58|
|WILLIAMSBRIDGE   ...|02  TWO FAMILY HO...|   73|       2697|   1939|343334.67|
|SCHUYLERVILLE/PEL...|02  TWO FAMILY HO...|   57|       3137|   1938|387447.02|
|SOUNDVIEW        ...|02  TWO FAMILY HO...|   57|       2586|   1943|309658.05|
|MORRIS PARK/VAN N...|02  TWO FAMILY HO...|   48|       2367|   1935|376374.40|
|THROGS NECK      ...|02  TWO FAMILY HO...|   47|       2852|   1949|342417.23|
|CASTLE HILL/UNION...|02  TWO FAMILY HO...|   45|       2651|   1949|332409.47|
|MORRISANIA/LONGWO...|03  THREE FAMILY ...|   45|       2139|   1952|326618.58|
|BRONXDALE        ...|02  TWO FAMILY HO...|   43|       2477|   1941|317483.88|
|SOUNDVIEW        ...|03  THREE FAMILY ...|   43|       2290|   1952|359636.81|
|COUNTRY CLUB     ...|01  ONE FAMILY HO...|   41|       2802|   1944|392679.78|
|RIVERDALE        ...|01  ONE FAMILY HO...|   41|       9506|   1941|896041.95|
|WAKEFIELD        ...|02  TWO FAMILY HO...|   41|       2778|   1942|343435.34|
|BRONXDALE        ...|01  ONE FAMILY HO...|   38|       2149|   1944|239734.50|
|WILLIAMSBRIDGE   ...|01  ONE FAMILY HO...|   38|       2792|   1934|264689.89|
|PELHAM PARKWAY NO...|02  TWO FAMILY HO...|   37|       2887|   1949|394344.97|
|SCHUYLERVILLE/PEL...|01  ONE FAMILY HO...|   36|       2751|   1927|344840.61|
|WAKEFIELD        ...|01  ONE FAMILY HO...|   35|       2803|   1936|272300.37|
+--------------------+--------------------+-----+-----------+-------+---------+
only showing top 20 rows

root
 |-- hood: string (nullable = true)
 |-- type: string (nullable = true)
 |-- count: long (nullable = false)
 |-- avgLandArea: integer (nullable = true)
 |-- avgYear: integer (nullable = true)
 |-- avgPrice: decimal(10,2) (nullable = true)

In [20]:
query = """
SELECT 
    hood,
    type,
    COUNT(*) as count, -- costam
    CAST(AVG(landArea) AS INT) as avgLandArea,
    CAST(AVG(year) AS INT) as avgYear,
    CAST(AVG(price) AS DECIMAL(10,2)) as avgPrice
FROM sales
WHERE year > 1500 AND landArea > 0 AND price > 0 AND hood IN (
    SELECT hood FROM sales GROUP BY hood ORDER BY AVG(price) DESC LIMIT 10
    ) 
GROUP BY hood, type
HAVING count > 10
ORDER BY count DESC, hood, type
"""
a1 = spark.sql(query)
a1.show()
a1.printSchema()

+--------------------+--------------------+-----+-----------+-------+-----------+
|                hood|                type|count|avgLandArea|avgYear|   avgPrice|
+--------------------+--------------------+-----+-----------+-------+-----------+
|HIGHBRIDGE/MORRIS...|02  TWO FAMILY HO...|   24|       2407|   1945|  274374.42|
|BEDFORD PARK/NORW...|02  TWO FAMILY HO...|   23|       2413|   1917|  360086.17|
|FORDHAM          ...|07  RENTALS - WAL...|   22|       6657|   1921| 2315263.64|
|BEDFORD PARK/NORW...|07  RENTALS - WAL...|   21|       8995|   1922| 3907523.81|
|MELROSE/CONCOURSE...|07  RENTALS - WAL...|   18|       4512|   1924| 1800854.17|
|MOUNT HOPE/MOUNT ...|08  RENTALS - ELE...|   17|      15337|   1932| 7809504.35|
|MELROSE/CONCOURSE...|03  THREE FAMILY ...|   16|       2272|   1907|  277009.06|
|MOTT HAVEN/PORT M...|02  TWO FAMILY HO...|   16|       1921|   1941|  317152.25|
|KINGSBRIDGE HTS/U...|07  RENTALS - WAL...|   15|       7084|   1919| 2510546.27|
|MELROSE/CONCOURSE...|02  TWO FAMILY HO...|   15|       1962|   1937|  261059.87|
|MOUNT HOPE/MOUNT ...|07  RENTALS - WAL...|   15|       6528|   1921| 1908570.87|
|HIGHBRIDGE/MORRIS...|08  RENTALS - ELE...|   14|      73932|   1932|15054755.79|
|PELHAM PARKWAY SO...|01  ONE FAMILY HO...|   14|       2681|   1941|  409928.57|
|BEDFORD PARK/NORW...|08  RENTALS - ELE...|   13|      10067|   1931| 3668538.46|
|HIGHBRIDGE/MORRIS...|07  RENTALS - WAL...|   13|       7021|   1919| 1964250.38|
|FORDHAM          ...|08  RENTALS - ELE...|   12|      10386|   1936| 3728073.58|
|KINGSBRIDGE HTS/U...|02  TWO FAMILY HO...|   12|       2819|   1914|  279750.00|
|MOTT HAVEN/PORT M...|30  WAREHOUSES   ...|   12|      50457|   1942|12469147.25|
|BEDFORD PARK/NORW...|01  ONE FAMILY HO...|   11|       2839|   1909|  541681.82|
|FORDHAM          ...|02  TWO FAMILY HO...|   11|       2231|   1918|  288136.36|
+--------------------+--------------------+-----+-----------+-------+-----------+
only showing top 20 rows

root
 |-- hood: string (nullable = true)
 |-- type: string (nullable = true)
 |-- count: long (nullable = false)
 |-- avgLandArea: integer (nullable = true)
 |-- avgYear: integer (nullable = true)
 |-- avgPrice: decimal(10,2) (nullable = true)

In [19]:
sales.cache()

DataFrame[grossArea: bigint, hood: string, landArea: bigint, price: bigint, type: string, year: bigint]