In [5]:
import numpy as np
import pandas as pd

In [4]:
import seaborn as sns
flights = sns.load_dataset("flights")

In [5]:
# Ramka danych flights zawiera kolumny year i month. Wygeneruj na ich podstawie nową zmienną typu data i czas.

daty = pd.Series(pd.date_range(start=str(flights.year.values.min()), end=str(flights.year.values.max()+1), freq="1M"))
flights2 = flights.copy()
flights2["daty"] = daty
flights2.tail(3)

     year     month  passengers       daty
141  1960   October         461 1960-10-31
142  1960  November         390 1960-11-30
143  1960  December         432 1960-12-31

In [10]:
list(zip(flights2.year,flights2.month))

[(1949, 'January'),
 (1949, 'February'),
 (1949, 'March'),
 (1949, 'April'),
 (1949, 'May'),
 (1949, 'June'),
 (1949, 'July'),
 (1949, 'August'),
 (1949, 'September'),
 (1949, 'October'),
 (1949, 'November'),
 (1949, 'December'),
 (1950, 'January'),
 (1950, 'February'),
 (1950, 'March'),
 (1950, 'April'),
 (1950, 'May'),
 (1950, 'June'),
 (1950, 'July'),
 (1950, 'August'),
 (1950, 'September'),
 (1950, 'October'),
 (1950, 'November'),
 (1950, 'December'),
 (1951, 'January'),
 (1951, 'February'),
 (1951, 'March'),
 (1951, 'April'),
 (1951, 'May'),
 (1951, 'June'),
 (1951, 'July'),
 (1951, 'August'),
 (1951, 'September'),
 (1951, 'October'),
 (1951, 'November'),
 (1951, 'December'),
 (1952, 'January'),
 (1952, 'February'),
 (1952, 'March'),
 (1952, 'April'),
 (1952, 'May'),
 (1952, 'June'),
 (1952, 'July'),
 (1952, 'August'),
 (1952, 'September'),
 (1952, 'October'),
 (1952, 'November'),
 (1952, 'December'),
 (1953, 'January'),
 (1953, 'February'),
 (1953, 'March'),
 (1953, 'April'),
 (1953, 'May'),
 (1953, 'June'),
 (1953, 'July'),
 (1953, 'August'),
 (1953, 'September'),
 (1953, 'October'),
 (1953, 'November'),
 (1953, 'December'),
 (1954, 'January'),
 (1954, 'February'),
 (1954, 'March'),
 (1954, 'April'),
 (1954, 'May'),
 (1954, 'June'),
 (1954, 'July'),
 (1954, 'August'),
 (1954, 'September'),
 (1954, 'October'),
 (1954, 'November'),
 (1954, 'December'),
 (1955, 'January'),
 (1955, 'February'),
 (1955, 'March'),
 (1955, 'April'),
 (1955, 'May'),
 (1955, 'June'),
 (1955, 'July'),
 (1955, 'August'),
 (1955, 'September'),
 (1955, 'October'),
 (1955, 'November'),
 (1955, 'December'),
 (1956, 'January'),
 (1956, 'February'),
 (1956, 'March'),
 (1956, 'April'),
 (1956, 'May'),
 (1956, 'June'),
 (1956, 'July'),
 (1956, 'August'),
 (1956, 'September'),
 (1956, 'October'),
 (1956, 'November'),
 (1956, 'December'),
 (1957, 'January'),
 (1957, 'February'),
 (1957, 'March'),
 (1957, 'April'),
 (1957, 'May'),
 (1957, 'June'),
 (1957, 'July'),
 (1957, 'August'),
 (1957, 'September'),
 (1957, 'October'),
 (1957, 'November'),
 (1957, 'December'),
 (1958, 'January'),
 (1958, 'February'),
 (1958, 'March'),
 (1958, 'April'),
 (1958, 'May'),
 (1958, 'June'),
 (1958, 'July'),
 (1958, 'August'),
 (1958, 'September'),
 (1958, 'October'),
 (1958, 'November'),
 (1958, 'December'),
 (1959, 'January'),
 (1959, 'February'),
 (1959, 'March'),
 (1959, 'April'),
 (1959, 'May'),
 (1959, 'June'),
 (1959, 'July'),
 (1959, 'August'),
 (1959, 'September'),
 (1959, 'October'),
 (1959, 'November'),
 (1959, 'December'),
 (1960, 'January'),
 (1960, 'February'),
 (1960, 'March'),
 (1960, 'April'),
 (1960, 'May'),
 (1960, 'June'),
 (1960, 'July'),
 (1960, 'August'),
 (1960, 'September'),
 (1960, 'October'),
 (1960, 'November'),
 (1960, 'December')]

In [7]:
# Zastosuj wektor etykiet hierarchicznych do nazwania 
# wierszy ramki danych flight. Wykorzystaj do tego 
# celu dane zawarte w kolumnach year i month.

flights2 = flights.copy()
flights2.index = pd.MultiIndex.from_tuples(list(zip(flights2.year,flights2.month)))
flights2.index.names = ["year", "month"]
flights2.passengers.head(14)

year  month
1949  January      112
      February     118
      March        132
      April        129
      May          121
      June         135
      July         148
      August       148
      September    136
      October      119
      November     104
      December     118
1950  January      115
      February     126
Name: passengers, dtype: int64

In [11]:
# Zastosuj wektor etykiet hierarchicznych do nazwania 
# wierszy ramki danych flight. Wykorzystaj do tego 
# celu dane zawarte w kolumnach year i month.

flights2 = flights.copy()
flights2 = flights2.set_index(["year", "month"])
flights2.tail(14)

                passengers
year month
1959 November          362
     December          405
1960 January           417
     February          391
     March             419
     April             461
     May               472
     June              535
     July              622
     August            606
     September         508
     October           461
     November          390
     December          432

In [6]:
iris = sns.load_dataset("iris")

In [15]:
# Podziel ramkę danych iris 
# na dwie rozłączne części: 
# niech pierwsza zawiera 80% obserwacji, 
# a druga - pozostałe 20%. (podpowiedź: sample albo permutation)
iris1= iris.sample(frac=0.8)
iris2 = iris.iloc[~iris.index.isin(iris1.index), :]
len(iris1), len(iris2), len(iris)

(120, 30, 150)

In [7]:
# Podziel ramkę danych iris 
# na dwie rozłączne części: 
# niech pierwsza zawiera 80% obserwacji, 
# a druga - pozostałe 20%. (podpowiedź: sample albo permutation)


i = np.random.permutation(np.arange(len(iris)))
k = int(len(i)*0.8)
iris1 = iris.iloc[i[:k], :]
iris2 = iris.iloc[i[k:], :]
len(iris1), len(iris2), len(iris)

(120, 30, 150)

In [23]:
# Dokonaj standaryzacji wszystkich zmiennych 
# liczbowych w ramce danych iris (odejmij 
# średnią i podziel przez odchylenie standardowe).

iris = iris.iloc[:,0:4]
srednie = iris.mean(axis=0)
srednie

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [24]:
odch = iris.std(axis=0,ddof=1)
odch

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

In [27]:
iris_std = (iris - srednie)/odch
iris_std

     sepal_length  sepal_width  petal_length  petal_width
0       -0.897674     1.015602     -1.335752    -1.311052
1       -1.139200    -0.131539     -1.335752    -1.311052
2       -1.380727     0.327318     -1.392399    -1.311052
3       -1.501490     0.097889     -1.279104    -1.311052
4       -1.018437     1.245030     -1.335752    -1.311052
5       -0.535384     1.933315     -1.165809    -1.048667
6       -1.501490     0.786174     -1.335752    -1.179859
7       -1.018437     0.786174     -1.279104    -1.311052
8       -1.743017    -0.360967     -1.335752    -1.311052
9       -1.139200     0.097889     -1.279104    -1.442245
10      -0.535384     1.474458     -1.279104    -1.311052
11      -1.259964     0.786174     -1.222456    -1.311052
12      -1.259964    -0.131539     -1.335752    -1.442245
13      -1.863780    -0.131539     -1.505695    -1.442245
14      -0.052331     2.162743     -1.449047    -1.311052
15      -0.173094     3.080455     -1.279104    -1.048667
16      -0.535384     1.933315     -1.392399    -1.048667
17      -0.897674     1.015602     -1.335752    -1.179859
18      -0.173094     1.703886     -1.165809    -1.179859
19      -0.897674     1.703886     -1.279104    -1.179859
20      -0.535384     0.786174     -1.165809    -1.311052
21      -0.897674     1.474458     -1.279104    -1.048667
22      -1.501490     1.245030     -1.562342    -1.311052
23      -0.897674     0.556746     -1.165809    -0.917474
24      -1.259964     0.786174     -1.052513    -1.311052
25      -1.018437    -0.131539     -1.222456    -1.311052
26      -1.018437     0.786174     -1.222456    -1.048667
27      -0.776911     1.015602     -1.279104    -1.311052
28      -0.776911     0.786174     -1.335752    -1.311052
29      -1.380727     0.327318     -1.222456    -1.311052
..            ...          ...           ...          ...
120      1.276066     0.327318      1.100097     1.443994
121     -0.293857    -0.590395      0.646916     1.050416
122      2.242172    -0.590395      1.666574     1.050416
123      0.551486    -0.819823      0.646916     0.788031
124      1.034539     0.556746      1.100097     1.181609
125      1.638355     0.327318      1.270040     0.788031
126      0.430722    -0.590395      0.590269     0.788031
127      0.309959    -0.131539      0.646916     0.788031
128      0.672249    -0.590395      1.043450     1.181609
129      1.638355    -0.131539      1.156745     0.525645
130      1.879882    -0.590395      1.326688     0.919223
131      2.483699     1.703886      1.496631     1.050416
132      0.672249    -0.590395      1.043450     1.312801
133      0.551486    -0.590395      0.760211     0.394453
134      0.309959    -1.049251      1.043450     0.263260
135      2.242172    -0.131539      1.326688     1.443994
136      0.551486     0.786174      1.043450     1.575187
137      0.672249     0.097889      0.986802     0.788031
138      0.189196    -0.131539      0.590269     0.788031
139      1.276066     0.097889      0.930154     1.181609
140      1.034539     0.097889      1.043450     1.575187
141      1.276066     0.097889      0.760211     1.443994
142     -0.052331    -0.819823      0.760211     0.919223
143      1.155302     0.327318      1.213393     1.443994
144      1.034539     0.556746      1.100097     1.706379
145      1.034539    -0.131539      0.816859     1.443994
146      0.551486    -1.278680      0.703564     0.919223
147      0.793012    -0.131539      0.816859     1.050416
148      0.430722     0.786174      0.930154     1.443994
149      0.068433    -0.131539      0.760211     0.788031

[150 rows x 4 columns]

In [30]:
np.allclose(iris_std.mean(axis=0),0)

True

In [31]:
np.allclose(iris_std.std(axis=0),1)

True

In [9]:
# Utwórz tabelę przestawną (pivot table) dla ramki tips, 
# dla wartości total_bill i tip, w rozbiciu na dzień tygodnia oraz płeć.

tips = pd.read_csv('tips.csv')
pd.pivot_table(tips, values=["total_bill", "tip"], index=["day", "sex"], aggfunc="median")

               tip  total_bill
day  sex
Fri  Female  3.000      15.380
     Male    2.600      17.215
Sat  Female  2.625      18.360
     Male    3.000      18.240
Sun  Female  3.500      17.410
     Male    3.085      20.725
Thur Female  2.005      13.785
     Male    2.530      16.975

In [35]:
(tips["tip"]/tips["total_bill"]).head()

0    0.059447
1    0.160542
2    0.166587
3    0.139780
4    0.146808
dtype: float64

In [21]:
# Oblicz, jaką część rachunku stanowi napiwek i podaj 
# podsumowania liczbowe tych wartości (także w podgrupach 
# utworzonych na podstawie zmiennych jakościowych dostępnych w ramce danych tips)

tips["tip_frac"] = tips["tip"]/tips["total_bill"]
tips.groupby(["sex", "day"])["tip_frac"].describe()
tips.groupby(["sex", "day"])["tip_frac"].mean()
pd.pivot_table(tips, values=["tip_frac"], index=["day", "sex"], aggfunc="median")

             tip_frac
day  sex
Fri  Female  0.195059
     Male    0.133739
Sat  Female  0.151091
     Male    0.151832
Sun  Female  0.169397
     Male    0.157845
Thur Female  0.153143
     Male    0.155529

sex     day
Female  Fri   count     9.000000
              mean      0.199388
              std       0.042170
              min       0.142857
              25%       0.173913
              50%       0.195059
              75%       0.220264
              max       0.263480
        Sat   count    28.000000
              mean      0.156470
              std       0.060243
              min       0.056433
              25%       0.127253
              50%       0.151091
              75%       0.188209
              max       0.325733
        Sun   count    18.000000
              mean      0.181569
              std       0.071430
              min       0.059447
              25%       0.149537
              50%       0.169397
              75%       0.200377
              max       0.416667
        Thur  count    32.000000
              mean      0.157525
              std       0.030689
              min       0.072961
              25%       0.139895
              50%       0.153143
                         ...
Male    Fri   std       0.036228
              min       0.103555
              25%       0.118408
              50%       0.133739
              75%       0.153375
              max       0.223776
        Sat   count    59.000000
              mean      0.151577
              std       0.046944
              min       0.035638
              25%       0.123863
              50%       0.151832
              75%       0.188712
              max       0.291990
        Sun   count    58.000000
              mean      0.162344
              std       0.088529
              min       0.065660
              25%       0.106829
              50%       0.157845
              75%       0.183570
              max       0.710345
        Thur  count    30.000000
              mean      0.165276
              std       0.045866
              min       0.078616
              25%       0.130821
              50%       0.155529
              75%       0.195211
              max       0.266312
Name: tip_frac, dtype: float64

In [36]:
# Wyznacz podstawowe statystyki próbkowe 
# (średnia, odchylenie standardowe, kwartyle) 
# dla liczby pasażerów (ramka danych flights) 
# w każdym roku z osobna. 
# Przedstaw wyniki tak, by zagregowane wartości 
# przechowywane były w kolumnach, a kolejne lata - w wierszach.

flights.groupby("year").describe().unstack().iloc[0:3, 1:8]

      passengers
            mean        std    min     25%    50%     75%    max
year
1949  126.666667  13.720147  104.0  118.00  125.0  135.25  148.0
1950  139.666667  19.070841  114.0  125.75  137.5  151.25  170.0
1951  170.166667  18.438267  145.0  159.00  169.0  179.50  199.0

In [38]:
# Niech flights_pivot = flights.pivot("month", "year", "passengers") 
# Odwróć powyższe przekształcenie, tzn. przekształć macierz flights_pivot
# na ramkę danych tożsamą z flights.

flights_pivot = flights.pivot("month", "year", "passengers")
u = flights_pivot.unstack().reset_index()
u.columns = ["year", "month", "passengers"]
u.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

# Movie Lens

In [ ]:
#sed -i 's/::/;/g' file.txt
# jeden rekord w movies zamienic z ; na ,

In [7]:
movies = pd.read_csv("movies.dat", sep="::")#, names=["Movie", "Genre"])
ratings = pd.read_csv("ratings.dat", sep="::")#, names=["UserID", "MovieID", "Rating", "Timestamp"])
users = pd.read_csv("users.dat", sep="::")#, names=["UserID", "Gender", "Age", "Occupation", "Zip-code"])

/home/kodolamacz/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':
/home/kodolamacz/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app
/home/kodolamacz/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  app.launch_new_instance()

In [8]:
movies.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [9]:
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [10]:
users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [13]:
#zadanie 0: rok
movies["Year"] = movies["Title"].str.slice(-5,-1)

In [14]:
movies.head()

,MovieID,Title,Genres,Year
0,1,Toy Story (1995),Animation|Children's|Comedy,1995
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [47]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3883 entries, 1 to 3952
Data columns (total 3 columns):
Movie    3883 non-null object
Genre    3883 non-null object
Year     3883 non-null object
dtypes: object(3)
memory usage: 121.3+ KB

In [48]:
movies.Year.mean()

inf

In [15]:
movies["Year"] = pd.to_numeric(movies["Year"])

In [50]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3883 entries, 1 to 3952
Data columns (total 3 columns):
Movie    3883 non-null object
Genre    3883 non-null object
Year     3883 non-null int64
dtypes: int64(1), object(2)
memory usage: 121.3+ KB

In [51]:
movies.Year.mean()

1986.0669585372134

In [38]:
#ile jest wszystkich filmów
movies.shape

(3883, 3)

In [16]:
movies.shape[0]

3883

In [17]:
#ile filmów powstało w poszczególnych latach
zliczenia = movies.groupby("Year")["Title"].count()

In [18]:
zliczenia.sort_values(ascending=False)[1:6]

Year
1995    342
1998    337
1997    315
1999    283
1994    257
Name: Title, dtype: int64

In [19]:
#pd.pivot_table(users, values=["Gender"], index=["Gender", "sex"], aggfunc="count")

ValueError: Grouper for 'Gender' not 1-dimensional

In [20]:
users.groupby("Gender")["UserID"].count()

Gender
F    1709
M    4331
Name: UserID, dtype: int64

In [21]:
users.groupby("Age")["UserID"].count()

Age
1      222
18    1103
25    2096
35    1193
45     550
50     496
56     380
Name: UserID, dtype: int64

In [5]:
users["Age_agg1"] = pd.cut(users["Age"],3)
users.groupby("Age_agg1")["UserID"].count()

Age_agg1
(0.945, 19.333]     1325
(19.333, 37.667]    3289
(37.667, 56]        1426
Name: UserID, dtype: int64

In [6]:
users["Age_agg2"] = pd.cut(users["Age"], [0,12,35,51,57])
users.groupby("Age_agg2")["UserID"].count()

Age_agg2
(0, 12]      222
(12, 35]    4392
(35, 51]    1046
(51, 57]     380
Name: UserID, dtype: int64

In [8]:
users = users.drop("Age_agg2", axis=1)
users = users.drop("Age_agg1", axis=1)
users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [10]:
#movies["movieId"] = movies.index

In [ ]:

#najczestszy gatunek filmowy

movies.head()
gatunki = np.array(movies["Genre"].str.split("|").tolist())
gatunki_rozwiniete = [item for sublist in gatunki for item in sublist]
gatunkiKolumna=pd.Series(gatunki_rozwiniete)

gatunkiKolumna.value_counts()

movies.head()

movies.head()
ratings.head()

#bez odrzucania ponizej 100 glosow
pd.merge(movies, ratings,left_on="movieId", right_on="MovieID").groupby("Movie")["Rating"].mean().sort_values()

#z odrzucaniem

pd.merge(movies, ratings,left_on="movieId", right_on="MovieID").groupby("Movie")["Rating"].agg(["mean", "count"]).head()

polaczone = pd.merge(movies, ratings,left_on="movieId", right_on="MovieID").groupby("Movie")["Rating"].agg(["mean", "count"])
polaczone.head()
polaczone.columns = ["Mean", "Count"]
polaczone.Count
polaczone["count"] > 100
polaczone = polaczone.loc[polaczone["Count"] > 100]
polaczone.sort_values(by="Mean")

In [23]:
movies.head()

,MovieID,Title,Genres,Year
0,1,Toy Story (1995),Animation|Children's|Comedy,1995
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [24]:
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [26]:

# jaki jest najlepszy film według kobiet i według mężczyzn

movies_ratings = pd.merge(movies, ratings,left_on="MovieID", right_on="MovieID")
movies_ratings_users = pd.merge(movies_ratings, users, left_on="UserID", right_on="UserID")
movies_ratings_users.head()

,MovieID,Title,Genres,Year,UserID,Rating,Timestamp,Gender,Age,Occupation,Zip-code
0,1,Toy Story (1995),Animation|Children's|Comedy,1995,1,5,978824268,F,1,10,48067
1,48,Pocahontas (1995),Animation|Children's|Musical|Romance,1995,1,5,978824351,F,1,10,48067
2,150,Apollo 13 (1995),Drama,1995,1,5,978301777,F,1,10,48067
3,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi,1977,1,4,978300760,F,1,10,48067
4,527,Schindler's List (1993),Drama|War,1993,1,5,978824195,F,1,10,48067

In [28]:
ratings_gender = movies_ratings_users.groupby(["Title", "Gender"])["Rating"].agg(["mean", "count"])
ratings_gender = ratings_gender[ratings_gender["count"] > 100]
ratings_gender.head()

                                              mean  count
Title                             Gender
'burbs, The (1989)                M       2.962085    211
...And Justice for All (1979)     M       3.689024    164
10 Things I Hate About You (1999) F       3.646552    232
                                  M       3.311966    468
101 Dalmatians (1961)             F       3.791444    187

In [39]:
ratings_gender.xs("M", level=1).sort_values(by="mean", ascending=False).ix[0,"mean"]

4.583333333333333

In [40]:
ratings_gender.xs("M", level=1).sort_values(by="mean", ascending=False)[0:1]

                           mean  count
Movie
Godfather, The (1972)  4.583333   1740

In [43]:
#jaki jest średni rok oglądanego filmu w poszczególnych grupach wiekowych
movies_ratings_users.groupby("Age")["Year"].mean()

Age
1     1988.981699
18    1989.701982
25    1987.972972
35    1984.965478
45    1983.500520
50    1982.483211
56    1981.549097
Name: Year, dtype: float64

In [54]:
#jakie trzy gatunki filmowe są najczęściej oglądane przez kobiety i mężczyzn
#nie wiem co tu mialem na mysli, patrz nizej
zliczenia = movies_ratings_users.groupby(["Gender", "Movie"])["Year"].count()
print(zliczenia.xs("M", level=0).sort_values(ascending=False)[0:3])
print(zliczenia.xs("F", level=0).sort_values(ascending=False)[0:3])

Movie
American Beauty (1999)                                   2482
Star Wars: Episode IV - A New Hope (1977)                2344
Star Wars: Episode V - The Empire Strikes Back (1980)    2342
Name: Year, dtype: int64
Movie
American Beauty (1999)              946
Shakespeare in Love (1998)          798
Silence of the Lambs, The (1991)    706
Name: Year, dtype: int64

In [29]:
movies_ratings_users.head()

,MovieID,Title,Genres,Year,UserID,Rating,Timestamp,Gender,Age,Occupation,Zip-code
0,1,Toy Story (1995),Animation|Children's|Comedy,1995,1,5,978824268,F,1,10,48067
1,48,Pocahontas (1995),Animation|Children's|Musical|Romance,1995,1,5,978824351,F,1,10,48067
2,150,Apollo 13 (1995),Drama,1995,1,5,978301777,F,1,10,48067
3,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi,1977,1,4,978300760,F,1,10,48067
4,527,Schindler's List (1993),Drama|War,1993,1,5,978824195,F,1,10,48067

In [33]:
females = movies_ratings_users[movies_ratings_users.Gender=="F"]
males = movies_ratings_users[movies_ratings_users.Gender=="M"]

In [35]:
gatunki = np.array(females["Genres"].str.split("|").tolist())
gatunki_rozwiniete = [item for sublist in gatunki for item in sublist]
gatunkiKolumna=pd.Series(gatunki_rozwiniete)

gatunkiKolumna.value_counts()

Drama          98153
Comedy         96271
Romance        50297
Action         45650
Thriller       40308
Sci-Fi         27400
Adventure      27332
Children's     21317
Crime          16442
Horror         14635
War            14093
Musical        13505
Animation      12221
Mystery         9976
Fantasy         8718
Film-Noir       4202
Western         3477
Documentary     1940
dtype: int64

In [36]:
gatunki = np.array(males["Genres"].str.split("|").tolist())
gatunki_rozwiniete = [item for sublist in gatunki for item in sublist]
gatunkiKolumna=pd.Series(gatunki_rozwiniete)

gatunkiKolumna.value_counts()

Comedy         260309
Drama          256376
Action         211807
Thriller       149372
Sci-Fi         129894
Adventure      106621
Romance         97226
Crime           63099
Horror          61751
War             54434
Children's      50869
Animation       31072
Mystery         30202
Musical         28028
Fantasy         27583
Western         17206
Film-Noir       14059
Documentary      5970
dtype: int64