# DataFrame 
Zacznijmy od konkretnego przykładu i stwórzmy ramkę danych (DataFrame) z trzema kolumny: "Time", "x" i "y":

In [14]:
import numpy as np
import pandas as pd
t = np.arange(0,10,0.1)
x = np.sin(t)
y = np.cos(t)
df = pd.DataFrame({'Time':t, 'x':x, 'y':y})

# Aby wybrać jedną kolumnę możemy odnieść się do niej za pomocą nazwy lub indeksu.

In [16]:
df.Time.head()

0    0.0
1    0.1
2    0.2
3    0.3
4    0.4
Name: Time, dtype: float64

In [19]:
df['Time'].head()

0    0.0
1    0.1
2    0.2
3    0.3
4    0.4
Name: Time, dtype: float64

# Aby wybrać dwie kolumny.

In [20]:
data = df[['Time', 'y']]
data.head()

   Time         y
0   0.0  1.000000
1   0.1  0.995004
2   0.2  0.980067
3   0.3  0.955336
4   0.4  0.921061

# Aby wyświetlić pierwsze/ostatnie wiersze

In [21]:
data.head()

   Time         y
0   0.0  1.000000
1   0.1  0.995004
2   0.2  0.980067
3   0.3  0.955336
4   0.4  0.921061

In [22]:
data.tail()

    Time         y
95   9.5 -0.997172
96   9.6 -0.984688
97   9.7 -0.962365
98   9.8 -0.930426
99   9.9 -0.889191

# Aby wyświetlić wiersze od 5 do 10 (10-4 =6.)

In [23]:
data[4:10]

   Time         y
4   0.4  0.921061
5   0.5  0.877583
6   0.6  0.825336
7   0.7  0.764842
8   0.8  0.696707
9   0.9  0.621610

# Aby wyświetlić wybrane kolumny oraz wiersze

In [24]:
df[['Time', 'y']][4:10]

   Time         y
4   0.4  0.921061
5   0.5  0.877583
6   0.6  0.825336
7   0.7  0.764842
8   0.8  0.696707
9   0.9  0.621610

# Można używać też standardowej notacji

In [25]:
df.iloc[4:10, [0,2]]

   Time         y
4   0.4  0.921061
5   0.5  0.877583
6   0.6  0.825336
7   0.7  0.764842
8   0.8  0.696707
9   0.9  0.621610

# Możemy uzyskać bezpośredni dostęp do danych konwertując obiekt do numpy array

In [26]:
data.values

array([[ 0.        ,  1.        ],
       [ 0.1       ,  0.99500417],
       [ 0.2       ,  0.98006658],
       [ 0.3       ,  0.95533649],
       [ 0.4       ,  0.92106099],
       [ 0.5       ,  0.87758256],
       [ 0.6       ,  0.82533561],
       [ 0.7       ,  0.76484219],
       [ 0.8       ,  0.69670671],
       [ 0.9       ,  0.62160997],
       [ 1.        ,  0.54030231],
       [ 1.1       ,  0.45359612],
       [ 1.2       ,  0.36235775],
       [ 1.3       ,  0.26749883],
       [ 1.4       ,  0.16996714],
       [ 1.5       ,  0.0707372 ],
       [ 1.6       , -0.02919952],
       [ 1.7       , -0.12884449],
       [ 1.8       , -0.22720209],
       [ 1.9       , -0.32328957],
       [ 2.        , -0.41614684],
       [ 2.1       , -0.5048461 ],
       [ 2.2       , -0.58850112],
       [ 2.3       , -0.66627602],
       [ 2.4       , -0.73739372],
       [ 2.5       , -0.80114362],
       [ 2.6       , -0.85688875],
       [ 2.7       , -0.90407214],
       [ 2.8       , -0.94222234],
       [ 2.9       , -0.97095817],
       [ 3.        , -0.9899925 ],
       [ 3.1       , -0.99913515],
       [ 3.2       , -0.99829478],
       [ 3.3       , -0.98747977],
       [ 3.4       , -0.96679819],
       [ 3.5       , -0.93645669],
       [ 3.6       , -0.89675842],
       [ 3.7       , -0.84810003],
       [ 3.8       , -0.79096771],
       [ 3.9       , -0.7259323 ],
       [ 4.        , -0.65364362],
       [ 4.1       , -0.57482395],
       [ 4.2       , -0.49026082],
       [ 4.3       , -0.40079917],
       [ 4.4       , -0.30733287],
       [ 4.5       , -0.2107958 ],
       [ 4.6       , -0.11215253],
       [ 4.7       , -0.01238866],
       [ 4.8       ,  0.08749898],
       [ 4.9       ,  0.18651237],
       [ 5.        ,  0.28366219],
       [ 5.1       ,  0.37797774],
       [ 5.2       ,  0.46851667],
       [ 5.3       ,  0.55437434],
       [ 5.4       ,  0.63469288],
       [ 5.5       ,  0.70866977],
       [ 5.6       ,  0.77556588],
       [ 5.7       ,  0.83471278],
       [ 5.8       ,  0.88551952],
       [ 5.9       ,  0.92747843],
       [ 6.        ,  0.96017029],
       [ 6.1       ,  0.98326844],
       [ 6.2       ,  0.9965421 ],
       [ 6.3       ,  0.99985864],
       [ 6.4       ,  0.99318492],
       [ 6.5       ,  0.97658763],
       [ 6.6       ,  0.95023259],
       [ 6.7       ,  0.91438315],
       [ 6.8       ,  0.86939749],
       [ 6.9       ,  0.8157251 ],
       [ 7.        ,  0.75390225],
       [ 7.1       ,  0.68454667],
       [ 7.2       ,  0.60835131],
       [ 7.3       ,  0.52607752],
       [ 7.4       ,  0.43854733],
       [ 7.5       ,  0.34663532],
       [ 7.6       ,  0.25125984],
       [ 7.7       ,  0.15337386],
       [ 7.8       ,  0.05395542],
       [ 7.9       , -0.04600213],
       [ 8.        , -0.14550003],
       [ 8.1       , -0.24354415],
       [ 8.2       , -0.33915486],
       [ 8.3       , -0.43137684],
       [ 8.4       , -0.51928865],
       [ 8.5       , -0.6020119 ],
       [ 8.6       , -0.67872005],
       [ 8.7       , -0.74864665],
       [ 8.8       , -0.81109301],
       [ 8.9       , -0.86543521],
       [ 9.        , -0.91113026],
       [ 9.1       , -0.9477216 ],
       [ 9.2       , -0.97484362],
       [ 9.3       , -0.99222533],
       [ 9.4       , -0.99969304],
       [ 9.5       , -0.99717216],
       [ 9.6       , -0.98468786],
       [ 9.7       , -0.96236488],
       [ 9.8       , -0.93042627],
       [ 9.9       , -0.88919115]])

In [27]:
df['x'][5:10]

5    0.479426
6    0.564642
7    0.644218
8    0.717356
9    0.783327
Name: x, dtype: float64

In [28]:
df.iloc[1:4,0:3]

   Time         x         y
1   0.1  0.099833  0.995004
2   0.2  0.198669  0.980067
3   0.3  0.295520  0.955336