# Zadanie 1
Jako przykład rozważmy dana zawierające poziomy przepływu ($\mu g/l$) w trzech grupach pacjentów z zastawką serca z różnymi poziomami wentylacji azotem. W analizie wzięło udział 22 osoby (https://github.com/przem85/statistics/blob/master/D7/ANOVA1.txt).

Zerową hipoteza dla ANOVA mówi, że wszystkie grupy pochodzą z tej samej populacji.

In [3]:
import numpy as np
import scipy.stats as stats
import pandas as pd
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

Pobierzmy dane przyjrzyjmy się jej struktórze

In [12]:
data = pd.read_csv('F:\SZKOLENIE\data\galton.csv')
data.head()

  family  father  mother sex  height  nkids
0      1    78.5    67.0   M    73.2      4
1      1    78.5    67.0   F    69.2      4
2      1    78.5    67.0   F    69.0      4
3      1    78.5    67.0   F    69.0      4
4      2    75.5    66.5   M    73.5      4

#  Zadanie 1
Pobierz dane z pliku https://github.com/przem85/statistics/blob/master/D7/galton.csv oraz wykonaj ANOVA względem dwóch grup reprezentujących płeć dziecka.

In [13]:
group1 = data.height[data.sex=='M']
group2 = data.height[data.sex=='F']
stats.f_oneway(group1, group2)

F_onewayResult(statistic=933.18460306573525, pvalue=5.1755731515079784e-141)

In [14]:
anova_results = anova_lm(ols('height ~ 1 + sex', data).fit())
print('\nANOVA with "statsmodels" ------------------------------')
print(anova_results)

ANOVA with "statsmodels" ------------------------------
             df       sum_sq      mean_sq           F         PR(>F)
sex         1.0  5874.573234  5874.573234  933.184603  5.175573e-141
Residual  896.0  5640.489138     6.295189         NaN            NaN

D:\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:875: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
D:\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:875: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
D:\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1814: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

# Zadanie 2

Pobierz dane z pliku https://github.com/przem85/statistics/blob/master/D7/galton.csv oraz wykonaj
<ul>
<li>
ANOVA względem dwóch kolumn <br/>
<tt>data['father']</tt>, <tt>data['mother']</tt>.
</li>
<li>
test t-studenta równości śrdnich w kolumnach <br/>
<tt>data['father']</tt>, <tt>data['mother']</tt>.
</li>
<ul>

In [15]:
# Get the data
data = pd.read_csv('F:\SZKOLENIE\data\galton.csv')

# First, calculate the F- and the T-values, ...
F_statistic, pVal = stats.f_oneway(data['father'], data['mother'])
t_val, pVal_t = stats.ttest_ind(data['father'], data['mother'])

# ... and show that t**2 = F
print(('From the t-test we get t^2={0:5.3f}, and from the F-test F={1:5.3f}'.format(t_val**2, F_statistic)))

From the t-test we get t^2=2083.481, and from the F-test F=2083.481

In [16]:
pVal_t

1.4431979631311571e-302

In [17]:
pVal

1.4431979631307123e-302